
version: 1.0.{build}

branches:
  only:
    - master
max_jobs: 1
image: Visual Studio 2017
clone_folder: c:\projects\myproject
shallow_clone: true                

matrix:
  fast_finish: true     # set this flag to immediately finish build once one of the jobs fails.

platform: Any CPU
configuration: Release
services:
  - iis                 # start IIS

before_build:
  - nuget restore c:\projects\myproject\src\Atata.sln      

build:
  parallel: true                  # enable MSBuild parallel builds
  project: c:\projects\myproject\src\Atata.sln              # path to Visual Studio solution or project
  verbosity: quiet

after_build:
  ps: >-
      $siteFolderPath = "c:\projects\myproject\src\Atata.TestApp"
      $port = 57612
      $servedAt = "http://localhost:$($port)/"
      write-host "jVUNDemo location: $siteFolderPath"
      write-host "Spin up Atata site at $($servedAt)"
      $process = Start-Process 'C:\Program Files (x86)\IIS Express\iisexpress.exe' -NoNewWindow -ArgumentList "/path:$($siteFolderPath) /port:$($port)"
      write-host "Wait a moment for IIS to startup"
      Start-sleep -s 15
      write-host "Create static version of demo site here: $($siteFolderPath)"


artifacts:

  # pushing a single file
  - path: bin


deploy:

    # Deploy to GitHub Releases
  - provider: GitHub
    artifact: /.*\.nupkg/           # upload all NuGet packages to release assets
    draft: false
    prerelease: false
    on:
      branch: master                # release from master branch only
      appveyor_repo_tag: true       # deploy on tag push only

notifications:

  # Email
  - provider: Email
    to:
      - melnykartemyj@gmail.com      
    subject: 'Build {{status}}'                  # optional
    message: "{{message}}, {{commitId}}, ..."    # optional
    on_build_status_changed: true
